#portfolio .head{
    margin: 50px;
}
.p_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.exp{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.achievements {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin: 10px 0 10px 0;
    width: 100%;
    background-color: var(--tone3_1);
}
.exp h1{
    color: var(--tone4);
    text-align: center;
    font-weight: 800;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card h2{
    font-size: 0.9rem;
    opacity: 0.8;
}
.card h1{
    color: var(--tone4);
    font-size: 4rem;
    font-weight: 800;
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .achievements {
        display: flex;
        flex-direction: column;
        min-height: 60vh;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
        width: 100%;
        width: 100%;
        background-color: var(--tone3_1);
    }
}