#particles-js {
  height: 100vh;
}
#home .info_co {
  position: absolute;
  top: 40%;
  left: 10%;
  font-size: 1.2rem;
  font-weight: 500;
}
#home .info_co h1,
#home .info_co h2 {
  margin: 5px;
}
.info_co .name {
  font-family: var(--accent-font) !important;
  font-size: 5rem;
  color: var(--tone4);
  margin: 5px;
  font-size: 5rem;
  text-shadow: 2px 2px 4px var(--text-primary);
}
.info_co h2{
  font-size: 1.5rem;
  text-shadow: 0px 0px 1px var(--tone4);
}
@media only screen and (max-width: 500px) {
  #home .info_co {
    position: absolute;
    top: 40%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 500;
    margin: 20px;
  }
  .info_co .name{
    font-size: 4.2rem;
    font-weight: 800;
  }
  .info_co h2{
    font-size: 1.2rem;
  }
}
#theme-btn {
  position: fixed;
  border: 4px solid var(--text-primary);
  text-shadow: 10px black;
  top: 90%;
  left: 90%;
  z-index: 99;
  border: none;
  background: transparent;
  color: var(--text-primary);
  fill: currentColor;
}
#theme-btn .bg{
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 0px;
  width: 0px;
  background-color: transparent;
  z-index: -1;
  transition: 200ms;
}
#theme-btn:hover svg {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  transition: 200ms;
}
/* #theme-btn:hover .bg{
  background-color: var(--text-primary);
  height: 60px;
  width: 60px;
  z-index: -1;
  transition: 400ms;
} */
.greet_d div{
  position: absolute;
  height: 2rem;
  width: 0px;
  background-color: var(--tone4);
}
.block{
  animation: wordAnimation 400ms ease;
}
@keyframes wordAnimation {
  0%{ width: 250px; }
  100%{ width: 0px; }
}
.disapear{
  animation: wordgoaway 500ms ease;
}
@keyframes wordgoaway {
  0%{ width: 0px; }
  100%{ width: 250px; }
}